/* imports the google font 'mali'*/
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
/* Width and height of elements does not include padding or margins*/
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
/* styles the body text and background*/
body{
   font-family: 'Mali', cursive;
   background-image: url('/Assets/Images/Clear.gif');
   background-size: cover;
   background-repeat: no-repeat;
  }
  /* styles the header content*/
  header{
   display: flex ;
   align-items: center;
   justify-content: center;
   padding: 50px 20px 20px;
   padding-bottom: 200px;
  }
  /* styles the search bar*/
  header input{
   max-width: 300px;
   padding: 10px 15px ;
   border: none;
   outline: none;
   background-color:#ffffff;
   border-radius: 0px 0px 0px 0px;
   border-bottom: 4px solid #ffa641de;
   font-size: 20px;
   font-weight: 300;
  }
  /* styles the local button*/
  .btn-local{
   border: none;
   outline: none;
   border-radius: 0px 0px 15px 0px ;
   border-bottom: 4px solid #ffa641de;
   width: 50px;
   height: 47px;
   color: #ffffff;
   background-color: #419AFF;
  }
  /* styles the global button*/
  .btn-global{
   border: none;
   outline: none;
   border-radius: 15px 0px 0px  0px ;
   border-bottom: 4px solid #ffa641de;
   width: 50px;
   height: 47px;
   color: #ffffff;
   background-color: #419AFF;
  }
   
  /* sets the size of place holder text*/
  header input::placeholder{
   font-size: 14px;
   color: black;
  }
  
  
  /* styles the info container*/
  .info-wrap{
   padding:  20px 70px;
   padding: 20px 20px 45px;
   color: #ffffff;
  }
  /* styles the city text*/
  .city{
   font-size: 40px;
   font-weight: bolder;
   text-align: center;
   color: #ffffff;
  }
  /* styles the Temperature text, giving it a 3d effect*/
  .Temp{
   font-size: 100px;
   font-weight: 700;
   text-align: center;
   text-shadow: 5px 1px 5px #000000ec;
   color:#ffffff;
  }
  /* styles the celcius so that it is smaller than the temperature text and there is space between the two*/
  .celcius{
  font-size:50px;
  font-weight: 700;
  text-align: center;
  text-shadow: 5px 1px 5px #000000ec;
  color: #ffffff;
  }
  /* styles and positions the weather description*/
  .weather{
   font-size: 40px;
   font-style: italic;
   font-weight: 700;
   text-align: center;
   color: #ffffff;
  }
  /* styles and positions the weather informaion on the left */
  .info{
   padding:20px 20px 20px 20px;
   border-radius: 15px 15px 15px 15px;
   display:flex;
   flex-direction:column;
   width: 25%;
   position: relative;
   top: -180px;
   margin-left: 15%;
  }
  /*Styles all the information for the current day so that it is uniform*/
  .current-info{
   padding-bottom: 10px ;
   color: #ffffff;
   font-weight: 200;
  }
  
  /*styles and positions the weather informaion on the right*/
  .other-info{
   display: flex;
   flex-direction: column;
   margin-left: 71%;
   position: relative;
   top: -310px;
   width: 25%;
   padding:20px 20px 20px 20px;
   border-radius: 15px 15px 15px 15px;
  }
  
  
  
  


