/* imports the google font 'mali'*/
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
/* Width and height of elements does not include padding or margins*/
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
/* styles the body text and background*/
body{
   font-family: 'Mali', cursive;
   background-image: url('/Assets/Images/Clear.gif');
   background-size: cover;
   background-repeat: no-repeat;
  }
  /* styles the header content*/
  header{
   display: flex ;
   align-items: center;
   justify-content: center;
   padding: 50px 20px 20px;
   padding-bottom: 200px;
  }
  /* styles the search bar*/
  header input{
   max-width: 300px;
   padding: 10px 15px ;
   border: none;
   outline: none;
   background-color:#ffffff;
   border-radius: 0px 0px 0px 0px;
   border-bottom: 4px solid #ffa641de;
   font-size: 20px;
   font-weight: 300;
  }
  /* styles the local button*/
  .btn-local{
   border: none;
   outline: none;
   border-radius: 0px 0px 15px 0px ;
   border-bottom: 4px solid #ffa641de;
   width: 50px;
   height: 47px;
   color: #ffffff;
   background-color: #419AFF;
  }
  /* styles the global button*/
  .btn-global{
   border: none;
   outline: none;
   border-radius: 15px 0px 0px  0px ;
   border-bottom: 4px solid #ffa641de;
   width: 50px;
   height: 47px;
   color: #ffffff;
   background-color: #419AFF;
  }
   
  
  
  


